/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@import "./vars.scss";
@import "./utility.scss";
@import "./mixins.scss";
@import "./animations.scss";
@import './theme_mixins.scss';


@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: black;
  font-family: "Montserrat", sans-serif !important;
  // background: linear-gradient(
  //   21deg,
  //   rgba(89, 81, 219, 1) 0%,
  //   rgba(0, 234, 255, 1) 80%
  // );
  background-repeat: no-repeat;
}